.leaflet-popup-content {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
}

.leaflet-popup-content b {
    font-size: 16px;
}

.leaflet-popup-content img {
    margin-top: 10px;
    border-radius: 10px;
    width: 100px;
    height: auto;
}