.div {
    text-align: center;
    margin-top: 50px;
}
.back-button {
            display: inline-block;
            margin: 20px;
            padding: 10px 20px;
            background-color: #007BFF;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .back-button:hover {
            background-color: #0056b3;
        }

        /* Стили для карты */
        #map {
            height: 600px;
            width: 100%;
        }