.back-button {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    padding: 12px 25px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.2s;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    z-index: 1000;
}

.back-button:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    /* Убрано свойство transform для устранения прыжка */
}

/* Стили для карты */
#map {
    height: 600px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 1200px;
}

.leaflet-popup-content {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
}

.leaflet-popup-content b {
    font-size: 16px;
}

.leaflet-popup-content img {
    margin-top: 10px;
    border-radius: 10px;
    width: 100px;
    height: auto;
}

/* Общие стили для body */
body {
    background-color: #f4f4f9;
}

/* Центрирование контента */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 0 20px;
}

/* Специфичные стили для кнопок только внутри body, чтобы не затронуть элементы карты */
body a {
    margin-top: 30px;
    padding: 12px 30px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-size: 18px;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

body a:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Отключаем стили для кнопок + и - на карте */
.leaflet-control-zoom a {
    background-color: #fff !important;
    color: #000 !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

/* Сброс стилей для ссылки OSM */
.leaflet-control-attribution a {
    color: #007BFF !important;
    text-decoration: none !important;
}

.leaflet-control-attribution a:hover {
    text-decoration: underline !important;
}

/* Отключаем стили для кнопок + и - на карте */
.leaflet-control-zoom a {
    background-color: initial !important; /* Убираем кастомный фон */
    color: initial !important; /* Возвращаем исходный цвет */
    box-shadow: initial !important; /* Убираем тень */
    border-radius: initial !important; /* Возвращаем стандартные углы */
}

/* Сброс стилей для ссылки OSM */
.leaflet-control-attribution a {
    color: initial !important; /* Возвращаем исходный цвет */
    text-decoration: initial !important; /* Убираем кастомное подчеркивание */
}

.leaflet-control-attribution a:hover {
    text-decoration: initial !important; /* Возвращаем стандартное поведение при наведении */
}
