<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Приложение 'Беременна в 16'</title>

</head>

<body>
    <div style="text-align: center; margin-top: 50px;">
        <h1>Добро пожаловать в приложение 'По местам беременной в 16'</h1>
        <p>Это приложение предназначено для просмотра мест в России, в которых снимали серии проекта "Беременна в 16".
        </p>
        <p>Вы можете нажимать на метки и просмтаривать подробную информацию о выпусках и их героях.</p>
        <a href="{% url 'map_view' %}"
            style="display: inline-block; margin-top: 20px; padding: 10px 20px; background-color: #007BFF; color: white; text-decoration: none; border-radius: 5px;">Перейти
            на карту</a>
    </div>
</body>

</html>