<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Карта мест съемок</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>

<body>

    <div id="map"></div>

    <a href="{% url 'home' %}" class="back-button">Вернуться на главную</a>

    <script>
        let markersData = '{{ markers|escapejs }}';
    </script>
    
    <script src="{% static 'js/map.js' %}"></script> 

</body>

</html>
