.btn, .form-button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 10px 5px;
}

.btn:hover, .form-button:hover {
    background-color: #0056b3;
}

.back-button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #0056b3;
}

.back-button-map {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 10px 5px;
}

a {
    color: #007bff;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
}

button {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

.remove-child {
    background-color: #dc3545;
}

.remove-child:hover {
    background-color: #c82333;
}

#add-child {
    background-color: #28a745;
}

#add-child:hover {
    background-color: #218838;
}

.child-form {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}