.back-button {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    padding: 12px 25px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    z-index: 1000;
    /* Чтобы кнопка оставалась над картой */
}

.back-button:hover {
    background-color: #0056b3;

    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

#map {
    height: 600px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 1200px;
}


.leaflet-popup-content {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
}

.leaflet-popup-content b {
    font-size: 16px;
}

.leaflet-popup-content img {
    margin-top: 10px;
    border-radius: 10px;
    width: 100px;
    height: auto;
}

/* Общие стили для body */
body {
    background-color: #f4f4f9;
}

/* Общие стили */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

/* Центрирование контента */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 0 20px;
}

/* Стили для заголовка */
h1 {
    font-size: 36px;
    color: #007BFF;
    margin-bottom: 20px;
}

/* Стили для параграфов */
p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
    max-width: 600px;
    color: #555;
}

/* Стили для кнопки */
a {

    margin-top: 30px;
    padding: 12px 30px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-size: 18px;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

a:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}